name: Cleanup Releases

on:
    schedule:
        - cron: "0 0 * * *"
    workflow_dispatch:


env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_REPOSITORY: ${{ github.repository }}

jobs:
  cleanup-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
        # Cleanup releases older than 1 year
      - run: |
          ./cleanup_releases.py
